<!DOCTYPE html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head><body>    
<div class="container">
      <div class="header">
        <h3 class="text-muted">주식 종목 코드 검색 기록</h3>
<ul class = "menu">
        <li><a href ="{{url_for('index')}}">Search</a></li>
        <li><a href="{{url_for('list')}}">SearchList</a></li>
        </ul>
      </div>
      <hr>
    <ul>
<table><tr><th>Code</th><th>Time</th><th>Price</th><th>Price Change</th></tr>
	{% for slist in searchlist %}
	<tr><td>{{ slist[1] }}&nbsp;</td><td>{{ slist[2] }}&nbsp;</td><td>{{ slist[3] }}&nbsp;</td><td>{{ slist[4] }}</td></tr>
	{% else %}
	<li><em>Unbelievable. No list! search </em>
	{% endfor %}
</ul>
    </div>
  </body>
</html>


